* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-color: #222020;
    --text-color: #0e0e0e;
    --bg-titulo: #502686;
    --card-color: #eeeff1;
    --text-button: #f6f6f6;

    --color-entrada: #5ebc2b;
    --color-saida: #b92c2c;
    --color-saldo: #0e7198;

    --button-entrada: #3c850c;
    --button-entrada-hover: #326502;

    --button-saida: #a71111;
    --button-saida-hover: #7d0000;

    --detalhamento-color: #2f2f2f;
}

body {
    background: var(--bg-color);
}

.container {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

header h1 {
    color: var(--text-button);
    background: var(--bg-titulo);

    padding: 18px 50px;
    border-radius: 18px;

    font-size: 2.8rem;
    font-weight: 700;
}

.cards-group {
    display: flex;
    gap: 25px;
    margin-top: 45px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 280px;
    min-height: 240px;

    background: var(--card-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 25px;

    border-radius: 16px;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);

    transition: .25s;
}

.card:hover {
    transform: translateY(-4px);
}

.card h2 {
    font-size: 1rem;
    font-weight: 600;
}

#saldo-entrada,
#saldo-saida {
    font-size: 2rem;
    font-weight: bold;
}

#detalhamento-entrada,
#detalhamento-saida {
    width: 100%;
    min-height: 32px;

    font-size: .75rem;
    font-style: italic;
    font-weight: 400;
    color: #666;

    text-align: center;

    line-height: 1.4;

    overflow-wrap: break-word;
    word-break: break-word;
}

#saldo-entrada {
    color: var(--color-entrada);
}

#saldo-saida {
    color: var(--color-saida);
}

#saldo-total {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-saldo);
}

button {
    border: none;
    border-radius: 8px;

    color: var(--text-button);
    cursor: pointer;

    padding: 12px 24px;

    font-size: 1rem;
    font-weight: 600;

    transition: .2s;
}

button:hover {
    transform: scale(1.03);
}

#btn-entrada {
    background: var(--button-entrada);
}

#btn-entrada:hover {
    background: var(--button-entrada-hover);
}

#btn-saida {
    background: var(--button-saida);
}

#btn-saida:hover {
    background: var(--button-saida-hover);
}

@media (max-width: 900px) {
    header h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    .cards-group {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 380px;
    }

    #saldo-total {
        font-size: 2.5rem;
    }
}

#tela-entrada {
    width: 100%;
    min-height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);
}

.container-entrada {
    width: 100%;
    max-width: 450px;

    display: flex;
    flex-direction: column;

    background-color: var(--card-color);
    color: var(--text-color);

    padding: 40px;
    border-radius: 16px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

.container-entrada h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.container-entrada span {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.container-entrada input {
    width: 100%;

    padding: 12px 15px;
    margin-bottom: 20px;

    border: 2px solid #d6d6d6;
    border-radius: 8px;

    font-size: 1rem;
    outline: none;

    transition: .2s;
}

.container-entrada input:focus {
    border-color: var(--button-entrada);
}

#btn-adicionar-entrada {
    margin-top: 10px;

    padding: 14px;

    border: none;
    border-radius: 8px;

    background-color: var(--button-entrada);
    color: var(--text-button);

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: .2s;
}

#btn-adicionar-entrada:hover {
    background-color: var(--button-entrada-hover);
    transform: scale(1.02);
}

#tela-saida {
    width: 100%;
    min-height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);
}

.container-saida {
    width: 100%;
    max-width: 450px;

    display: flex;
    flex-direction: column;

    background-color: var(--card-color);
    color: var(--text-color);

    padding: 40px;
    border-radius: 16px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

.container-saida h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.container-saida span {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.container-saida input {
    width: 100%;

    padding: 12px 15px;
    margin-bottom: 20px;

    border: 2px solid #d6d6d6;
    border-radius: 8px;

    font-size: 1rem;
    outline: none;

    transition: .2s;
}

.container-saida input:focus {
    border-color: var(--text-color);
}

#btn-adicionar-saida {
    margin-top: 10px;

    padding: 14px;

    border: none;
    border-radius: 8px;

    background-color: var(--button-saida);
    color: var(--text-button);

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: .2s;
}

#btn-adicionar-saida:hover {
    background-color: var(--button-saida-hover);
    transform: scale(1.02);
}